<h1>
  Add a new employee
</h1>


<hr>

<form action="/create_employee" method="post">

  <div class="form-group">
    <label for="first_name">
      First name
    </label>

    <input type="text" id="first_name" name="first_name" class="form-control">
  </div>

  <div class="form-group">
    <label for="last_name">
      Last name
    </label>

    <input type="text" id="last_name" name="last_name" class="form-control">
  </div>

  <div class="form-group">
    <label for="percentage_fee">
      Percentage fee
    </label>

    <input type="text" id="percentage_fee" name="percentage_fee" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create employee
  </button>
</form>

<hr>

<a href="/employees">
  Go back
</a>
